rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /cti_app_state/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
